/* Librerias de fuentes para textos */
@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Roboto:wght@400;700;900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
* {
  font-family: Roboto;
  margin: 0;
  padding: 0;
  color: #fff;
  line-height: 20px; }

/* Estilos header */
.bg-body-tertiary {
  background-color: rgba(0, 0, 0, 0.9) !important; }
  .bg-body-tertiary .ancho-restringido {
    max-width: 1200px; }
    .bg-body-tertiary .ancho-restringido .logo {
      height: 10vh;
      transition: 0.3s; }
      .bg-body-tertiary .ancho-restringido .logo:hover {
        transform: rotate(-90deg); }
    .bg-body-tertiary .ancho-restringido .navbar-collapse {
      justify-content: flex-end; }

.nav-link {
  height: 40px;
  transition: all 0.5s;
  border-radius: 4px;
  padding-left: 25px; }

.nav-link:hover {
  transform: translateY(2px);
  padding-top: 15px;
  background-color: rgba(255, 255, 255, 0.1) !important; }

/* Medias Queries */
@media (min-width: 768px) {
  #navbarNav {
    padding-right: 2%; }
  .bg-body-tertiary {
    background-color: rgba(0, 0, 0, 0.5) !important; } }

#animationBackground, #animationBackground .capa {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh; }
  #animationBackground .capa {
    background: rgba(0, 0, 0, 0.4);
    mix-blend-mode: multiply; }

/*Botones de redes sociales*/
/* Estilos footer */
footer {
  margin-top: 15px;
  display: block; }
  footer .fab {
    padding: 0 10px; }

/* Estilos pagina experiencia */
.main-experiencia {
  padding: 0 8vw;
  margin: auto; }
  .main-experiencia .lista-experiencia__fecha {
    margin-top: 10px; }

@media (min-width: 576px) {
  .main-experiencia {
    padding: 0; } }

/* Estilos pagina index */
.imagen-index {
  margin-top: 4vh;
  margin-bottom: 4vh; }

.li-index {
  margin-bottom: 30px; }

ul {
  padding-left: 1rem; }

@media (min-width: 768px) {
  /* Estilos pagina index */
  .seccion2 {
    padding-left: 40px; }
  .imagen-index {
    padding: 0; } }

.proyectos__imagen {
  margin: 2% 0; }

/* Estilos pagina sobre mi */
.main-sobre-mi {
  padding: 16vh 8vw 0 8vw;
  margin: auto;
  display: flex;
  flex-direction: column; }
  .main-sobre-mi .imagen-sobre-mi {
    padding: 4vw;
    max-width: 600px;
    margin: auto; }
    .main-sobre-mi .imagen-sobre-mi img {
      max-height: 80vh; }

@media (min-width: 768px) {
  .main-sobre-mi {
    margin-bottom: 44px;
    padding: 16vh 4vw 0 4vw;
    max-width: 1250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .main-sobre-mi .sobre-mi {
      max-width: 60vw; }
    .main-sobre-mi .imagen-sobre-mi {
      padding: 0;
      margin: 0;
      max-width: 600px;
      display: flex; }
      .main-sobre-mi .imagen-sobre-mi img {
        margin-right: 2vw;
        max-height: 70vh; } }

/* Estilos pagina contacto */
.main-contacto {
  position: relative;
  z-index: 2;
  padding: 0 8vw;
  margin: 0 auto;
  margin-bottom: 52px; }
  .main-contacto .formulario__titulo {
    margin-bottom: 2%; }
  .main-contacto .formulario__input, .main-contacto .formulario__textarea, .main-contacto .formulario__botton {
    width: 100%;
    background-color: rgba(20, 20, 20, 0.8);
    border: solid rgba(255, 255, 255, 0.2) 1px;
    display: block;
    margin-top: 20px;
    padding-left: 1%; }
    @media (min-width: 768px) {
      .main-contacto .formulario__input, .main-contacto .formulario__textarea, .main-contacto .formulario__botton {
        width: 60%; } }

@media (min-width: 576px) {
  .main-contacto {
    padding: 0; } }

/* Estilos generales */
img {
  border-radius: 10px;
  object-fit: cover;
  height: auto;
  width: 100%; }

body {
  background-color: #14070c; }

.main-bajar-contenido {
  padding-top: 16vh; }
