@import "./utilities/reseteo";
@import "./sections/header";
@import "./components/bg-animation";
@import "./sections/footer";
@import "./pages/experiencia";
@import "./pages/index";
@import "./pages/proyectos";
@import "./pages/sobre-mi";
@import "./pages/contacto";

/* Estilos generales */

img {
    border-radius: 10px;
    object-fit: cover;
    height: auto;
    width: 100%;
}

body {
    background-color: #14070c;
}

.main-bajar-contenido {
    padding-top: 16vh;
}