/*Botones de redes sociales*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

/* Estilos footer */
footer {
    margin-top: 15px;
    display: block;

    .fab {
        padding: 0 10px;
    }
}
