/* Estilos pagina contacto */
@import "../utilities/mixins";

.main-contacto {
    @include position (relative, null, null, 2);
    margin-top: 40px;
    margin-left: 6%;

    .formulario {
        .formulario__titulo {
            margin-bottom: 2%;
        }

        .formulario__input,
        .formulario__textarea,
        .formulario__botton {
            @include input-style;
        }
    }
}