/* Estilos pagina experiencia */
.main-experiencia{
    padding: 0 8vw;
    margin: auto;
    .lista-experiencia__fecha{
        margin-top: 10px;
    }
}
@media(min-width: 576px) {

    .main-experiencia {
        padding: 0;
    }
}