/* Estilos pagina experiencia */
.main-experiencia{
    padding: 0 8vw;
    margin: auto;
    .bloque-texto__parrafo{
        margin-top: 3%;
    }
    .lista-experiencia__fecha{
        margin-top: 10px;
    }
}
@media(min-width: 576px) {

    .main-experiencia {
        padding: 0;
        min-height: 74vh;
        margin-bottom: 20.7vh;
    }
}