/* Estilos pagina index */

.main-index{
    min-height: 93vh;
}
.imagen-index {
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.li-index {
    margin-bottom: 30px;
}

ul {
    padding-left: 1rem;
}

@media(min-width: 768px) {

    /* Estilos pagina index */
    .seccion2 {
        padding-left: 40px;
    }

    .imagen-index {
        padding: 0;
    }
}