/* Estilos pagina index */
.main-bajar-contenido {
    padding-top: 16vh;

    .imagen-index {
        margin-top: 4vh;
        margin-bottom: 4vh;
    }

    ul {
        padding-left: 1rem;
    }
}

@media(min-width: 768px) {

    /* Estilos pagina index */
    .seccion2 {
        padding-left: 40px;
    }

    .imagen-index {
        padding: 0;
    }
}