@import "../utilities/mixins";

/* Estilos pagina sobre mi */
.main-sobre-mi {
    padding: 16vh 8vw 0 8vw;
    margin: auto;
    @include flex (column, null, null);

    .imagen-sobre-mi {
        padding: 4vw;
        max-width: 600px;
        margin: auto;

        img {
            max-height: 80vh;
        }
    }
}

@media(min-width: 768px) {

    .main-sobre-mi {
        margin-bottom: 44px;
        padding: 16vh 4vw 0 4vw;
        max-width: 1250px;
        @include flex (row, space-between, null);

        .sobre-mi {
            max-width: 60vw;
        }

        .imagen-sobre-mi {
            padding: 0;
            margin: 0;
            max-width: 600px;
            display: flex;

            img {
                margin-right: 2vw;
                max-height: 70vh;
            }
        }
    }
}