@import "./vars";

*{
    font-family: $main-font;
    margin: 0;
    padding: 0;
    color: $main-text-color;
    line-height: $line-height;
    font-size: $font-size;
}
@media(min-width: 1700px) {
    *{
        font-size: $font-size*1.4;
        line-height: $line-height*1.4;
    }
}