/* Librerias de fuentes para textos */
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto:wght@400;700;900&display=swap');

$main-font: Roboto;
$font-size: 16px;
$line-height: $font-size*1.2;
$secundary-font: Nunito;
$main-text-color: #fff;