@import "../utilities/mixins";
#animationBackground{
    @include position (fixed, 0, 0, -1);
    width: 100vw;
    height: 100vh;
    .capa{
        @extend #animationBackground;
        background: rgba(0,0,0,0.4);
        mix-blend-mode:multiply;
    }
}